*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color-dark:#1d69a3;
    --padding-inline-section: 20px;
    --accent-color:#2294ed;
}
body{
    font-family: sans-serif;
    color:var(--primary-text-color);

}

a{
    text-decoration: none;
    display: inline-block;
}
.container{
    max-width: 1180px;
margin-inline: auto;
padding-inline: var(--padding-inline-section);

}
h1{
    font-size: 3rem;;

}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}

p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    color:var(--secondary-text-color);
    line-height: 1.8rem;
}
.flex{
    display: flex;
    align-items: center;
}
ul{
    list-style-type:none;
}
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}
.hover-links{
    color: var(--primary-text-color);

}
.hover-links:hover{
    color: var(--accent-color-dark);
    transition: 0.2s ease-out;}
.primary-button{
    background-color:var(--accent-color);
    border-radius: 6px;
    font-weight:700;
    color:white !important;
    padding:12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 00.2s ease-out;
}
.primary-button:hover{
    background-color: var(--accent-color-dark);
}
.secondary-button{
    border-radius: 6px;
    padding: 12px 24px;
    border:0.5px solid var(--secondary-text-color);
    color:var(--primary-text-color);
    font-weight: 700;
    transition: 0.2s ease-out;
}
.secondary-button:hover{
    border: 00.5px solid var(--accent-color-dark);
    color: var(--accent-color-dark) !important;
}

.top-banner{
    background-color: #4fb3d4;
    background-image: url('asset 30.png');
    background-size: 300px;
}
.banner-text{
color:white;
padding: 15px 30px;
text-align: center;
}

.main-nav{
    margin-top: 20px;
    justify-content: space-between;
}
.main-nav img{
    width:200px;
}
.nav-links{
    flex-basis: 730px;
}
.nav-links ul{
    justify-content: end;
    gap: 40px;
}

.header h1{
    flex-basis: 100px;
    margin-top: 100px;
 padding-left: 300px;
 padding-right: 300px;
 text-align: center;
}
.header p{
    padding-left: 250px;
    padding-right: 250px;
    line-height: 1.5rem;
    text-align: center;
    margin-top: 35px;

}
.big-feature-container{
    justify-content: space-between;
}
.feature-img img{
    max-width: 500px;
}
.features-desc {
    justify-content: flex-start;
    margin-left: 40px;
    text-align:center;
    
}

.features-desc img{
    max-height: 50px;
    

}

.leftpanel{
    max-width: 50%;
    background-color:#183b56;
    margin-bottom: 40px;
}
.leftpanel h4{
    color: white;
}
.leftpanel h2{
    color: white;
}
.leftpanel img{
    max-width: 20px;
}
.leftpanel p{
    color: #4fb3d4;
}
.rightpanel{
    max-width: 50%;
    background-color:#274764;
    margin-bottom: 40px;
}
.rightpanel img{
    max-width:  20px;
}
.rightpanel h4{
    color: white;
}
.rightpanel h2{
    color:white;
}
.rightpanel p{
    color:#4fb3d4
}
.companies h2{
  text-align: center;
}
.company{
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    height: 40px;
    
}
footer{
    padding-block: 80px;
    background-color: #ebf2fa;
}
.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
}
.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}
.company-logo img{
    max-width: 300px;
}
.subfooter{
    background-color: #b9cde4;
    padding:var(--padding-inline-section);
}

.subfooter-container{
    justify-content: center;
    gap:30px;
}






